

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu";
  src: url("../public/fonts/Ubuntu-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "UbuntuBold";
  src: url("../public/fonts/Ubuntu-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "UbuntuLight";
  src: url("../public/fonts/Ubuntu-Light.ttf") format("truetype");
}
@font-face {
  font-family: "UbuntuMedium";
  src: url("../public/fonts/Ubuntu-Medium.ttf") format("truetype");
}
*{
  font-family: "Ubuntu", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}